In [24]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv('../mid/FPL/TxG.csv')
Home = pd.read_csv('../mid/Team_home.csv')
Defence = pd.read_csv('../mid/FPL/TOxG.csv')
Opponents = pd.read_csv('../in/Team_opponent_team.csv')

In [40]:
def no_doubles(df):
    X = pd.DataFrame()
    for i in df.index:
        X = X.append(pd.DataFrame(df.loc[i,:].dropna().reset_index(drop=True)).T)
    return X


def to_table(df, lag, is_y=False):
    X = pd.DataFrame()
    limit = 39
    if is_y:
        limit = 38
        y=[]
    for i in range(lag, limit):
        temp = df.iloc[:, i-lag:i]
        temp = temp.rename(columns=dict(zip(temp.columns, range(len(temp.columns)))))
        X = X.append(temp).reset_index(drop=True)
        if is_y:
            y = y + (list(df.iloc[:, i]))
    if is_y:
        return X, y
    return X
    
X = no_doubles(df)
X, y = to_table(X, 5, is_y=True)

H = no_doubles(Home)
HA, H = to_table(H, 5, is_y=True)
#X = X.join(HA, lsuffix='lag', rsuffix='HA')
X['Home'] = H


O = no_doubles(Opponents)


D_coef = no_doubles(Defence)
D_coef = D_coef.mean(1)
D_dict = dict(zip(list(range(20)), D_coef))
DD = O.applymap(lambda x: D_dict[x-1])
DD, D = to_table(DD, 5, is_y=True)
X['Op def'] = np.array(D)

print(len(X))
len(H)

660

660

In [41]:
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from catboost import CatBoostRegressor
from sklearn.ensemble import RandomForestRegressor
from lightgbm import LGBMRegressor

seed = 1111
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = seed)

In [43]:
model_lr = Ridge(alpha=0)
model_lr.fit(X_train, y_train)

RMSE_train = np.sqrt(mean_squared_error(y_train, model_lr.predict(X_train)))
RMSE_test = np.sqrt(mean_squared_error(y_test, model_lr.predict(X_test)))
display(model_lr.coef_)
print(f'Train RMSE: {RMSE_train}')
print(f'Test RMSE: {RMSE_test}')

array([ 0.07434026,  0.1435297 ,  0.13417764,  0.11205952,  0.13980748,
       28.62442309,  1.02121574])

Train RMSE: 64.29171306662768
Test RMSE: 67.97846633215278

In [44]:
model_rf = RandomForestRegressor(n_estimators=100)
model_rf.fit(X_train, y_train)

RMSE_train = np.sqrt(mean_squared_error(y_train, model_rf.predict(X_train)))
RMSE_test = np.sqrt(mean_squared_error(y_test, model_rf.predict(X_test)))
print(f'Train RMSE: {RMSE_train}')
print(f'Test RMSE: {RMSE_test}')

Train RMSE: 25.48077033408099
Test RMSE: 72.25833012689452

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\base.py:158: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\base.py:158: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int)

In [45]:
model_cat = CatBoostRegressor(verbose=100, random_state=seed, l2_leaf_reg=111)
model_cat.fit(X_train, y_train)

RMSE_train = np.sqrt(mean_squared_error(y_train, model_cat.predict(X_train)))
RMSE_test = np.sqrt(mean_squared_error(y_test, model_cat.predict(X_test)))
print(f'Train RMSE: {RMSE_train}')
print(f'Test RMSE: {RMSE_test}')

0:	learn: 79.7566847	total: 222ms	remaining: 3m 41s
100:	learn: 71.6287354	total: 575ms	remaining: 5.12s
200:	learn: 66.6956877	total: 920ms	remaining: 3.66s
300:	learn: 62.9367799	total: 1.3s	remaining: 3.01s
400:	learn: 60.3712837	total: 1.65s	remaining: 2.47s
500:	learn: 58.3106544	total: 2.01s	remaining: 2s
600:	learn: 56.7214028	total: 2.37s	remaining: 1.57s
700:	learn: 55.6100127	total: 2.72s	remaining: 1.16s
800:	learn: 54.5101924	total: 3.07s	remaining: 764ms
900:	learn: 53.6141754	total: 3.43s	remaining: 377ms
999:	learn: 52.9254951	total: 3.78s	remaining: 0us
Train RMSE: 52.92549510165513
Test RMSE: 70.03238314758408

In [46]:
model_lgbm = LGBMRegressor(random_state=seed,reg_lambda=111)
model_lgbm.fit(X_train, y_train)

RMSE_train = np.sqrt(mean_squared_error(y_train, model_lgbm.predict(X_train)))
RMSE_test = np.sqrt(mean_squared_error(y_test, model_lgbm.predict(X_test)))
print(f'Train RMSE: {RMSE_train}')
print(f'Test RMSE: {RMSE_test}')

Train RMSE: 52.87742116690792
Test RMSE: 69.75174174860295

In [96]:
#X['Home'] = H
X = X.join(HA, lsuffix='lag', rsuffix='HA')
X

      0lag   1lag   2lag   3lag   4lag  Home  0HA  1HA  2HA  3HA  4HA
0    208.0   80.0   14.0  384.0  151.0   1.0  0.0  1.0  0.0  1.0  0.0
1    113.0  113.0  108.0  280.0  185.0   0.0  0.0  1.0  1.0  0.0  1.0
2    113.0  143.0  138.0   58.0  108.0   1.0  1.0  0.0  0.0  1.0  0.0
3    208.0  179.0  129.0   70.0  152.0   0.0  0.0  1.0  1.0  0.0  1.0
4    121.0  119.0  160.0  125.0  178.0   0.0  1.0  0.0  1.0  0.0  1.0
..     ...    ...    ...    ...    ...   ...  ...  ...  ...  ...  ...
655  146.0  195.0  105.0  169.0   56.0   0.0  0.0  0.0  1.0  0.0  1.0
656  145.0  184.0  106.0  249.0  271.0   0.0  0.0  1.0  0.0  1.0  1.0
657   70.0  140.0   86.0   34.0  148.0   0.0  0.0  1.0  0.0  1.0  1.0
658  315.0   98.0  133.0  216.0   85.0   0.0  1.0  0.0  1.0  0.0  1.0
659  179.0  119.0  131.0   83.0  210.0   0.0  0.0  1.0  0.0  1.0  1.0

[660 rows x 11 columns]

In [12]:
Defence
D.mean(1)
X

         0      1      2      3      4  Home      Op def
0    208.0   80.0   14.0  384.0  151.0   1.0  146.526316
1    113.0  113.0  108.0  280.0  185.0   0.0  163.342105
2    113.0  143.0  138.0   58.0  108.0   1.0  163.868421
3    208.0  179.0  129.0   70.0  152.0   0.0  165.131579
4    121.0  119.0  160.0  125.0  178.0   0.0  214.684211
..     ...    ...    ...    ...    ...   ...         ...
655  146.0  195.0  105.0  169.0   56.0   0.0         NaN
656  145.0  184.0  106.0  249.0  271.0   0.0         NaN
657   70.0  140.0   86.0   34.0  148.0   0.0         NaN
658  315.0   98.0  133.0  216.0   85.0   0.0         NaN
659  179.0  119.0  131.0   83.0  210.0   0.0         NaN

[660 rows x 7 columns]

In [18]:
X

         0      1      2      3      4  Home      Op def
0    208.0   80.0   14.0  384.0  151.0   1.0  169.263636
1    113.0  113.0  108.0  280.0  185.0   0.0  169.263636
2    113.0  143.0  138.0   58.0  108.0   1.0  169.263636
3    208.0  179.0  129.0   70.0  152.0   0.0  169.263636
4    121.0  119.0  160.0  125.0  178.0   0.0  169.263636
..     ...    ...    ...    ...    ...   ...         ...
655  146.0  195.0  105.0  169.0   56.0   0.0  169.263636
656  145.0  184.0  106.0  249.0  271.0   0.0  169.263636
657   70.0  140.0   86.0   34.0  148.0   0.0  169.263636
658  315.0   98.0  133.0  216.0   85.0   0.0  169.263636
659  179.0  119.0  131.0   83.0  210.0   0.0  169.263636

[660 rows x 7 columns]

In [39]:
D_dict = dict(zip(list(range(20)), D_coef))
O.applymap(lambda x: D_dict[x-1])

,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
0,163.868421,117.421053,85.342105,228.657895,214.684211,163.815789,165.131579,152.763158,163.342105,201.947368,...,152.763158,165.131579,184.526316,117.421053,170.315789,189.263158,198.631579,163.815789,187.657895,179.473684
1,198.078947,187.657895,163.868421,117.421053,179.473684,170.315789,163.815789,177.657895,146.526316,189.263158,...,146.526316,177.657895,163.815789,201.947368,228.657895,214.684211,105.105263,152.763158,214.684211,85.342105
2,146.526316,152.763158,163.342105,165.131579,177.657895,105.105263,189.263158,117.421053,201.947368,214.684211,...,214.684211,201.947368,117.421053,189.263158,198.078947,163.815789,170.315789,184.526316,179.473684,198.631579
3,214.684211,198.078947,179.473684,163.868421,201.947368,152.763158,146.526316,228.657895,85.342105,105.105263,...,163.815789,228.657895,146.526316,163.815789,85.342105,184.526316,177.657895,170.315789,198.631579,189.263158
4,165.131579,105.105263,198.631579,179.473684,146.526316,201.947368,228.657895,85.342105,184.526316,163.868421,...,179.473684,228.657895,189.263158,184.526316,177.657895,198.078947,163.342105,163.815789,163.342105,187.657895
5,152.763158,146.526316,105.105263,163.342105,163.815789,85.342105,184.526316,163.868421,228.657895,187.657895,...,163.868421,184.526316,146.526316,189.263158,170.315789,179.473684,177.657895,198.631579,201.947368,198.078947
6,117.421053,163.868421,189.263158,163.815789,105.105263,165.131579,201.947368,146.526316,187.657895,85.342105,...,85.342105,146.526316,201.947368,187.657895,198.631579,184.526316,198.078947,163.342105,179.473684,170.315789
7,184.526316,198.631579,165.131579,214.684211,163.342105,228.657895,170.315789,189.263158,198.078947,177.657895,...,214.684211,170.315789,201.947368,105.105263,117.421053,201.947368,198.078947,163.868421,152.763158,146.526316
8,177.657895,189.263158,228.657895,85.342105,165.131579,214.684211,152.763158,170.315789,163.868421,146.526316,...,152.763158,187.657895,179.473684,163.342105,163.815789,179.473684,228.657895,198.078947,117.421053,184.526316
9,170.315789,179.473684,214.684211,105.105263,187.657895,189.263158,198.078947,184.526316,177.657895,228.657895,...,228.657895,177.657895,184.526316,198.078947,152.763158,85.342105,146.526316,117.421053,165.131579,163.868421
10,228.657895,214.684211,117.421053,198.631579,152.763158,163.868421,85.342105,198.078947,170.315789,165.131579,...,146.526316,198.078947,85.342105,170.315789,179.473684,187.657895,163.815789,163.342105,184.526316,177.657895
11,163.815789,228.657895,146.526316,201.947368,184.526316,117.421053,105.105263,214.684211,165.131579,152.763158,...,152.763158,214.684211,105.105263,165.131579,198.078947,198.631579,187.657895,177.657895,189.263158,163.342105
12,198.631579,184.526316,177.657895,187.657895,189.263158,163.342105,179.473684,201.947368,105.105263,163.815789,...,163.815789,201.947368,179.473684,228.657895,105.105263,146.526316,117.421053,163.868421,165.131579,152.763158
13,189.263158,163.342105,184.526316,170.315789,198.631579,198.078947,177.657895,163.815789,152.763158,117.421053,...,179.473684,163.815789,177.657895,201.947368,152.763158,228.657895,105.105263,85.342105,146.526316,214.684211
14,105.105263,85.342105,201.947368,146.526316,198.078947,179.473684,214.684211,165.131579,117.421053,198.631579,...,198.631579,165.131579,214.684211,170.315789,187.657895,163.342105,189.263158,201.947368,177.657895,163.815789
15,179.473684,170.315789,187.657895,189.263158,85.342105,177.657895,117.421053,198.631579,214.684211,198.078947,...,198.078947,198.631579,117.421053,146.526316,214.684211,165.131579,152.763158,163.868421,105.105263,201.947368
16,85.342105,177.657895,198.078947,152.763158,117.421053,146.526316,163.342105,187.657895,189.263158,170.315789,...,189.263158,187.657895,163.342105,165.131579,163.868421,201.947368,105.105263,146.526316,214.684211,228.657895
17,163.342105,165.131579,163.815789,177.657895,228.657895,187.657895,198.631579,105.105263,179.473684,184.526316,...,184.526316,105.105263,198.631579,163.868421,85.342105,214.684211,152.763158,179.473684,201.947368,117.421053
18,187.657895,201.947368,152.763158,184.526316,170.315789,198.631579,163.868421,179.473684,163.815789,163.342105,...,163.342105,163.815789,179.473684,163.868421,214.684211,117.421053,146.526316,228.657895,85.342105,165.131579
19,201.947368,163.815789,170.315789,198.078947,163.868421,184.526316,187.657895,163.342105,198.631579,179.473684,...,179.473684,198.631579,163.342105,187.657895,214.684211,165.131579,117.421053,85.342105,228.657895,105.105263