In [1]:
''' ML for FPL

    Learning projecting FPl points
    
    Sources:    f'{folder}in/Team_home.csv'
                f'{folder}in/Player_home.csv'
                f'{folder}mid/{source}/Team_xG.txt'
                f'{folder}mid/{source}/Team_xG_Ad.txt'
                f'{folder}mid/{source}/Team_Opponent_xG.txt'
                f'{folder}mid/{source}/Team_oppdefence_coeff.txt'
                
                folder in {'', '2019-2020'}
                source in {'FPL', 'Understat'}
                
    Writes:
                df

'''

#%pylab inline
import sklearn
from sklearn.linear_model import LinearRegression
import numpy as np
import pandas as pd
from pathlib import Path
from Brr_functions import no_lists, del_empty_col
import constti
import json
# import imgkit

def x_maker( NAdf,  hist_num, NAdf_answers, NAdf_opp, NAdf_home, threatAllowedAv):
    '''
        Making table X for regression where last column ia an answer.
        Adjusted tables used for lag data. UnAdjusted for answer and opponent strength.
    '''
    #Removes empty fixtures
    df = NAlast(NAdf)
    df_answers =NAlast(NAdf_answers)
    df_opp = NAlast(NAdf_opp)
    df_home = NAlast(NAdf_home)
    
    X = pd.DataFrame()
    col = []

    for i in range(hist_num, 0, -1): #Creating column names for lag columns
        col.append(f'GW-{i}')

    for i in range(0,len(df.columns)-hist_num):
        #print(i+1)
        if hist_num != 0:
            next_tour2add = df[df.columns[i:i+hist_num]].copy()#no_lists(df.sort_index())[df.columns[i:i+6]]
            next_tour2add.columns=col#['GW-6','GW-5','GW-4','GW-3','GW-2','GW-1']
        else:
            next_tour2add = pd.DataFrame()
        next_tour2add['Home'] = df_home[df_home.columns[hist_num+i]]
        next_tour2add['Opponent'] = (df_opp[df_opp.columns[hist_num+i]]*threatAllowedAv)#.copy()
        next_tour2add['GW'] = df_answers[df_answers.columns[hist_num+i]]#.copy()#.tolist()
        X = X.append(next_tour2add, ignore_index=True, sort=False)
    print(len(X.dropna()))
    return X.dropna()

def NAlast(df):
    '''
        Removes NaN holes in the table
    '''
    def NAlast_row(row):
        '''Removes holes in a row. Subfunction of NAlast.'''
        b = list(row.dropna())
        for i in range(len(b), len(row)):
            b.append(np.nan)
        return b
    dff = df.copy()
    for i in df.index:
        dff.loc[i] = NAlast_row(dff.loc[i])
    return dff

'''
    DOWNOADING TABLES FROM MID AND
    Making all input tables standart format. Only numBer columns. From left to right. No lists, columns for DGW added
'''

'''
    import curent year data
'''
# with open(Path('mid/FPL/Team_xG.txt'), 'r') as file:
#     Team_xG = pd.DataFrame(json.loads(file.read()))
#     Team_xG.index = pd.to_numeric(Team_xG.index)
#     TxG = no_lists(Team_xG.sort_index())[no_lists(Team_xG).columns[:3:-1]]
Fixtures = pd.read_csv(Path('in/Fixtures.csv'))

Teams = pd.read_csv('in/Teams.csv')
TxG = del_empty_col(pd.read_csv('mid/FPL/TxG.csv'))
TxGA = del_empty_col(pd.read_csv('mid/FPL/TxGA.csv'))
TOxG = del_empty_col(pd.read_csv('mid/FPL/TOxG.csv'))
TOxGA = del_empty_col(pd.read_csv('mid/FPL/TOxGA.csv'))
TAw = pd.read_csv(Path('mid/FPL/Team_Attack_weight.csv'))
TDw = pd.read_csv(Path('mid/FPL/Team_Defence_weight.csv'))
TxOxG = pd.read_csv(Path('mid/FPL/TxOxG.csv'))

Table = pd.read_csv(Path('in/Table_FPL.csv'))
Players= pd.read_csv(Path('in/Players.csv'))
Pf = pd.read_csv(Path('in/Player_fixtures.csv'))
PxxG = pd.read_csv(Path('mid/FPL/PxxG.csv'))
PxxA = pd.read_csv(Path('mid/FPL/PxxA.csv'))
PxOxG = pd.read_csv(Path('mid/FPL/PxOxG.csv'))

    
# with open(Path('mid/FPL/Team_xG_Ad.txt'), 'r') as file:
#     Team_xG_Ad = pd.DataFrame(json.loads(file.read()))
#     Team_xG_Ad.index = pd.to_numeric(Team_xG_Ad.index)
#     TxGA = no_lists(Team_xG_Ad.sort_index())[TxG.columns]
#     #display(Team_xG_Ad)
    
# with open(Path('mid/FPL/Team_Opponent_xG.txt'), 'r') as file:
#     Team_Opponent_xG = pd.DataFrame(json.loads(file.read()))
#     Team_Opponent_xG.index = pd.to_numeric(Team_Opponent_xG.index)
#     TOxG = no_lists(Team_Opponent_xG.sort_index())[TxG.columns]

# with open(Path('mid/FPL/Team_oppdefence_coeff.txt'), 'r') as file:
#     Team_oppdefence_coeff = pd.DataFrame(json.loads(file.read()))
#     Team_oppdefence_coeff.index = pd.to_numeric(Team_oppdefence_coeff.index)
#     Todc = no_lists(Team_oppdefence_coeff.sort_index())[TxG.columns]
    
Team_home = pd.read_csv(Path(f'in/Team_home.csv'))
Player_home = pd.read_csv(Path(f'in/Player_home.csv'))

'''
    import 2019-2020 data
'''
year = '2019-2020'
if year=='': folder = ''
else: folder = f'history/{year}/'
with open(Path(f'{folder}mid/FPL/Team_xG.txt'), 'r') as file:
    Team_xG = pd.DataFrame(json.loads(file.read()))
    Team_xG.index = pd.to_numeric(Team_xG.index)
    TxG1920 = no_lists(Team_xG.sort_index())[no_lists(Team_xG).columns[:3:-1]]
    
with open(Path(f'{folder}mid/FPL/Team_xG_Ad.txt'), 'r') as file:
    Team_xG_Ad = pd.DataFrame(json.loads(file.read()))
    Team_xG_Ad.index = pd.to_numeric(Team_xG_Ad.index)
    TxGA1920 = no_lists(Team_xG_Ad.sort_index())[TxG1920.columns]
    #display(Team_xG_Ad)
    
with open(Path(f'{folder}mid/FPL/Team_Opponent_xG.txt'), 'r') as file:
    Team_Opponent_xG = pd.DataFrame(json.loads(file.read()))
    Team_Opponent_xG.index = pd.to_numeric(Team_Opponent_xG.index)
    TOxG1920 = no_lists(Team_Opponent_xG.sort_index())[TxG1920.columns]
    
with open(Path(f'{folder}mid/FPL/Team_oppdefence_coeff.txt'), 'r') as file:
    Team_oppdefence_coeff = pd.DataFrame(json.loads(file.read()))
    Team_oppdefence_coeff.index = pd.to_numeric(Team_oppdefence_coeff.index)
    Todc1920 = no_lists(Team_oppdefence_coeff.sort_index())[TxG1920.columns]
    
Team_home1920 = pd.read_csv(Path(f'{folder}in/Team_home.csv'))
Player_home1920 = pd.read_csv(Path(f'{folder}in/Player_home.csv'))

#Understat Data

'''
    import curent year data
'''
# with open(Path('mid/Understat/Team_xG.txt'), 'r') as file:
#     UnTeam_xG = pd.DataFrame(json.loads(file.read()))
#     UnTeam_xG.index = pd.to_numeric(UnTeam_xG.index)
#     UTxG = no_lists(UnTeam_xG.sort_index())[no_lists(UnTeam_xG).columns[:3:-1]]
    
# with open(Path('mid/Understat/Team_xG_Ad.txt'), 'r') as file:
#     UnTeam_xG_Ad = pd.DataFrame(json.loads(file.read()))
#     UnTeam_xG_Ad.index = pd.to_numeric(UnTeam_xG_Ad.index)
#     UTxGA = no_lists(UnTeam_xG_Ad.sort_index())[UTxG.columns]
    
# with open(Path('mid/Understat/Team_Opponent_xG.txt'), 'r') as file:
#     UnTeam_Opponent_xG = pd.DataFrame(json.loads(file.read()))
#     UnTeam_Opponent_xG.index = pd.to_numeric(UnTeam_Opponent_xG.index)
#     UTOxG = no_lists(UnTeam_Opponent_xG.sort_index())[TxG.columns]
    
# with open(Path('mid/Understat/Team_oppdefence_coeff.txt'), 'r') as file:
#     UnTeam_oppdefence_coeff = pd.DataFrame(json.loads(file.read()))
#     UnTeam_oppdefence_coeff.index = pd.to_numeric(UnTeam_oppdefence_coeff.index)
#     UTodc = no_lists(UnTeam_oppdefence_coeff.sort_index())[UTxG.columns]
    
UTxG = del_empty_col(pd.read_csv('mid/Understat/TxG.csv'))
UTxGA = del_empty_col(pd.read_csv('mid/Understat/TxGA.csv'))
UTOxG = del_empty_col(pd.read_csv('mid/Understat/TOxG.csv'))
UTodc = pd.read_csv(Path('mid/Understat/Team_Attack_weight.csv'))[UTxG.columns]
'''
    import 2019-2020 data
'''
year = '2019-2020'
if year=='': folder = ''
else: folder = f'history/{year}/'
with open(Path(f'{folder}mid/Understat/Team_xG.txt'), 'r') as file:
    UnTeam_xG = pd.DataFrame(json.loads(file.read()))
    UnTeam_xG.index = pd.to_numeric(UnTeam_xG.index)
    UTxG1920 = no_lists(UnTeam_xG.sort_index())[no_lists(UnTeam_xG).columns[:3:-1]]
    
with open(Path(f'{folder}mid/Understat/Team_xG_Ad.txt'), 'r') as file:
    UnTeam_xG_Ad = pd.DataFrame(json.loads(file.read()))
    UnTeam_xG_Ad.index = pd.to_numeric(UnTeam_xG_Ad.index)
    UTxGA1920 = no_lists(UnTeam_xG_Ad.sort_index())[UTxG1920.columns]
    #display(Team_xG_Ad)
    
with open(Path(f'{folder}mid/Understat/Team_Opponent_xG.txt'), 'r') as file:
    UnTeam_Opponent_xG = pd.DataFrame(json.loads(file.read()))
    UnTeam_Opponent_xG.index = pd.to_numeric(UnTeam_Opponent_xG.index)
    UTOxG1920 = no_lists(UnTeam_Opponent_xG.sort_index())[UTxG1920.columns]
    
with open(Path(f'{folder}mid/Understat/Team_oppdefence_coeff.txt'), 'r') as file:
    UnTeam_oppdefence_coeff = pd.DataFrame(json.loads(file.read()))
    UnTeam_oppdefence_coeff.index = pd.to_numeric(UnTeam_oppdefence_coeff.index)
    UTodc1920 = no_lists(UnTeam_oppdefence_coeff.sort_index())[UTxG1920.columns]

lastGW = int(Fixtures[Fixtures['finished']==True]['event'].max())
display(UTOxG1920.mean(axis=1).mean())#That's threatAllowedAv actually
lastGW

144.51298014769435

33

In [27]:
Table = pd.read_csv('in/Table_FPL.csv')
def non_zero_mean(ser):
    return ser[ser > 0].mean()
Table.groupby('position').max()
ser = pd.Series([1,2,-3])
non_zero_mean(ser)
Table.groupby('position').agg(non_zero_mean)

,index,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,...,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards
position,,,,,,,,,,,,,,,,,,,,,
D,10408.535870,1.032468,1.820051,15.769983,1,8.297428,309.405707,170.660054,1.863636,1.017241,...,1.891095,1.889366,11.048241,3.438596,26103.103182,14265.849340,12150.902235,46.709103,True,1
F,10498.786500,1.167883,2.216495,11.980355,1,9.630544,323.257869,174.290861,1.746894,1.170940,...,1.872758,1.876882,28.530029,3.203780,52573.137891,31355.805023,25263.737705,60.048540,True,1
G,10190.769362,1.000000,2.036697,18.445455,1,8.400000,351.240000,173.846809,1.903720,NaN,...,1.879310,1.905315,2.000000,3.919937,16625.024602,10675.950284,9148.940325,44.981277,True,1
M,10295.623279,1.080760,2.073569,12.033205,1,14.138887,314.504430,172.115781,1.731041,1.121827,...,1.892458,1.912266,18.524092,2.939759,33371.806618,16283.899947,13717.542875,54.917984,True,1

In [32]:
Table.columns
Table.pivot(index='name',columns='fixture',values='goals_scored')
Table.pivot_table(index='name',columns='round',values='goals_scored', aggfunc='sum')

round,1,2,3,4,5,6,7,8,9,10,...,24,25,26,27,28,29,30,31,32,33
name,,,,,,,,,,,,,,,,,,,,,
Aaron Connolly,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Aaron Cresswell,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Aaron Mooy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Aaron Ramsdale,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
Aaron Wan-Bissaka,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zack Steffen,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN
Zak Brunt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
Zeze Steven Sessegnon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Çaglar Söyüncü,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
Ørjan Nyland,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [2]:
# xScore = (Min, GS, A, CS, GC, OG, PS, PM, YC, RC, S, B)
# xScore = EF(Min) + 6*E(GS) + 4*E(A) + 4*xCS - xF(GC) - 2*E(OG) + 5*(PS) - 2*E(PM) - E(YC) - 3*E(RC) + F(S) +  E(B)

Team_conceded = pd.read_csv(Path('mid/Team_conceded.csv'))

p = 0.1
def xAxG(col, id, entity, field):
    '''
        Function for apply to *_played_fixtures to make tables
        entity: team, opponent or player
        field: name of the field in Table
    '''
    new_col = []
    if entity == 'player':
        entity = 'element'
    elif entity == 'opponent':
        entity = 'opponent_team'

    for i in range(len(col)):
        if np.isnan(col[i]):
            new_col.append(np.nan)
        else:
            x = Table[(Table['fixture']==col[i])&(Table[entity]==id[i])][field]

            if len(x) == 0:
                new_col.append(0)
            else:
                new_col.append(x.sum())
    return new_col

#GS = Pf.apply(xAxG, args=(Players['id'],'player','threat'))
GS = PxxG
A = PxxA
CS = PxOxG.applymap(lambda x: (1-p)**(x/(100*p))) #Clean Sheet probabilities
TCS = TxOxG.applymap(lambda x: (1-p)**(x/(100*p))) # Team Clean Sheet probabilities
TCS.insert(0,'Teams', Teams['Teams'])
del_empty_col(TCS)
Real_TCS = Team_conceded.applymap(lambda x: np.nan if np.isnan(x) else 1 if x==0 else 0)
Real_TCS
#Team_conceded


#Players Table
PT = Players.copy()
PT['Min'] = [90 for _ in range(len(PT))]
#PT['Min'] = [(lambda x: 2 if x>59 else 1 if x>0 else 0)(x) for x in PT['Min']]
PT['GS'] = PxxG[f'GW{lastGW+1}']
PT['A'] = PxxA[f'GW{lastGW+1}']
PT

,id,Name,web_name,Team number,Team,Position,Team games,Played,Min,GS,A
0,1,Mesut Ozil,Ozil,1,Arsenal,3,29,0,90,0.000000,0.000000
1,2,Sokratis Papastathopoulos,Sokratis,1,Arsenal,2,29,0,90,0.000000,0.000000
2,3,David Luiz Moreira Marinho,David Luiz,1,Arsenal,2,29,19,90,5.413952,1.808874
3,4,Pierre-Emerick Aubameyang,Aubameyang,1,Arsenal,3,29,24,90,20.765981,8.738619
4,5,Cedric Soares,Cedric,1,Arsenal,2,29,9,90,3.723284,8.707578
...,...,...,...,...,...,...,...,...,...,...,...
681,617,Andreas Sondergaard,Sondergaard,20,Wolves,1,13,0,90,0.000000,0.000000
682,626,Patrick Cutrone,Cutrone,20,Wolves,4,12,2,90,1.392373,0.000000
683,629,Nigel Lonwijk,Lonwijk,20,Wolves,2,12,0,90,0.000000,0.000000
684,642,Willian Jose Da Silva,Willian Jose,20,Wolves,4,10,9,90,13.968399,10.043384
685,649,Hugo Bueno,Bueno,20,Wolves,2,9,0,90,0.000000,0.000000

In [25]:
PxxG
Fixtures

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128467,NaN,False,False,180,NaN,0,False,59077,NaN,[],7,3,NaN,2,4,NaN
1,2128597,NaN,False,False,310,NaN,0,False,59207,NaN,[],12,3,NaN,2,5,NaN
2,2128598,NaN,False,False,311,NaN,0,False,59208,NaN,[],3,4,NaN,5,3,NaN
3,2128601,NaN,False,False,314,NaN,0,False,59211,NaN,[],18,4,NaN,9,2,NaN
4,2128604,NaN,False,False,317,NaN,0,False,59214,NaN,[],6,3,NaN,16,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2128661,38.0,False,False,374,2021-05-23T15:00:00Z,0,False,59271,False,[],6,4,NaN,11,3,NaN
376,2128662,38.0,False,False,375,2021-05-23T15:00:00Z,0,False,59272,False,[],7,5,NaN,12,4,NaN
377,2128663,38.0,False,False,376,2021-05-23T15:00:00Z,0,False,59273,False,[],4,2,NaN,15,2,NaN
378,2128664,38.0,False,False,377,2021-05-23T15:00:00Z,0,False,59274,False,[],16,4,NaN,19,2,NaN
379,2128665,38.0,False,False,378,2021-05-23T15:00:00Z,0,False,59275,False,[],13,3,NaN,20,4,NaN

In [33]:
hist_num = 0
Real_TCS = Team_conceded.applymap(lambda x: np.nan if np.isnan(x) else 1 if x==0 else 0)
threatAllowedAv = TOxG.mean(axis=1).mean()
#X3 = x_maker(TxGA1920,  hist_num, TxG1920, Todc1920, Team_home1920, TOxG1920.mean(axis=1).mean())
df = x_maker(Real_TCS,  hist_num, Real_TCS, TDw, Team_home, threatAllowedAv)
#X = pd.DataFrame(df[df.columns[:-3]]) # if autoregression, not mean
if hist_num != 0:
    X = pd.DataFrame(df[df.columns[:-3]].mean(axis=1))
else:
    X = pd.DataFrame()
X['Home'] = df['Home']
X['Opponent'] = df['Opponent']
#X = X3[X3.columns[:-1]]
y = df['GW']

print(X)
print(y)

reg = LinearRegression().fit(X, y)
display(reg.score(X, y))
#display(reg.coef_)
print(pd.DataFrame(np.transpose(reg.coef_),X.columns))

580
     Home    Opponent
0     0.0  140.628162
1     1.0  114.079557
2     1.0  184.392809
3     0.0  160.025743
4     0.0  167.112593
..    ...         ...
577   1.0  111.609429
578   1.0  162.928699
579   0.0  213.532897
587   0.0  184.478967
591   1.0  140.628162

[580 rows x 2 columns]
0      1.0
1      1.0
2      0.0
3      0.0
4      0.0
      ...
577    0.0
578    0.0
579    0.0
587    0.0
591    1.0
Name: GW, Length: 580, dtype: float64

0.03945565423038544

                 0
Home      0.051579
Opponent -0.002616

In [34]:
from sklearn.linear_model import LogisticRegression

hist_num = 10
threatAllowedAv = TOxG.mean(axis=1).mean()
#X3 = x_maker(TxGA1920,  hist_num, TxG1920, Todc1920, Team_home1920, TOxG1920.mean(axis=1).mean())
df = x_maker(TOxGA,  hist_num, Real_TCS, TDw, Team_home, threatAllowedAv)
#X = pd.DataFrame(df[df.columns[:-3]]) # if autoregression, not mean
if hist_num != 0:
    X = pd.DataFrame(df[df.columns[:-3]].mean(axis=1))
else:
    X = pd.DataFrame()
X['Home'] = df['Home']
X['Opponent'] = df['Opponent']
#X = X3[X3.columns[:-1]]
y = df['GW']

model = LogisticRegression(random_state=0, solver='lbfgs').fit(X,y)

#model = model.fit(X,y)
print(pd.DataFrame(np.transpose(model.coef_),X.columns))
display(model.score(X, y))
#np.matmul(X,np.transpose(model.coef_))

predict = X.dot(np.transpose(model.coef_))
Z = X.copy()
Z['y'] = y
Z['predict'] = predict
print(X)
Z['model_predict'] = model.predict(X)
Z['model_prob'] = model.predict_proba(X)[:,1:2]
Z[Z['model_predict']==1]
# max(Z['model_prob'])
# sum(Z['model_predict'])

380
                 0
0        -0.008339
Home      0.497075
Opponent -0.010051

0.6710526315789473

              0  Home    Opponent
0    139.492011   0.0  142.505947
1    151.649157   1.0  118.508665
2    101.927044   1.0  134.845664
3    205.903798   0.0  162.928699
4    115.726242   1.0  184.478967
..          ...   ...         ...
377  179.543180   1.0  111.609429
378  141.661693   1.0  162.928699
379  179.637603   0.0  213.532897
387  101.472503   0.0  184.478967
391   90.600561   1.0  140.628162

[380 rows x 3 columns]

              0  Home    Opponent    y   predict  model_predict  model_prob
2    101.927044   1.0  134.845664  0.0 -1.708149            1.0    0.536865
31    94.825592   1.0   97.136667  0.0 -1.269933            1.0    0.642434
41   136.212697   1.0  111.609429  1.0 -1.760508            1.0    0.523824
58   134.747683   1.0  111.609429  0.0 -1.748292            1.0    0.526870
62   123.964399   1.0  114.079557  0.0 -1.683200            1.0    0.543062
71    82.712684   1.0  116.124082  1.0 -1.359763            1.0    0.621545
90   117.499797   1.0   97.136667  0.0 -1.459007            1.0    0.597935
131   82.744176   1.0  111.609429  1.0 -1.314650            1.0    0.632097
170  109.633805   1.0  118.508665  0.0 -1.608217            1.0    0.561600
171   80.757658   0.0   97.136667  1.0 -1.649700            1.0    0.551362
178  139.264724   1.0   97.136667  0.0 -1.640498            1.0    0.553637
179  141.227323   1.0   97.136667  0.0 -1.656863            1.0    0.549590
187  156.502510   1.0   97.136667  0.0 -1.784239            1.0    0.517902
191   80.259703   1.0  114.079557  1.0 -1.318759            1.0    0.631141
204  114.590991   1.0  118.508665  1.0 -1.649553            1.0    0.551398
211   79.169195   0.0  118.508665  1.0 -1.851256            1.0    0.501155
234  163.054325   1.0   97.136667  0.0 -1.838872            1.0    0.504251
251   78.325610   1.0  142.505947  1.0 -1.588335            1.0    0.566489
264  103.481263   1.0  116.124082  1.0 -1.532946            1.0    0.580038
278  129.474692   1.0  114.079557  1.0 -1.729148            1.0    0.531639
290  106.085962   1.0  136.722660  0.0 -1.761694            1.0    0.523528
291   68.953468   1.0  162.928699  1.0 -1.715445            1.0    0.535050
292  137.904930   1.0  116.124082  0.0 -1.819995            1.0    0.508969
307  144.101386   1.0  111.609429  1.0 -1.826290            1.0    0.507396
311   67.637186   1.0  167.026316  0.0 -1.745653            1.0    0.527528
362  137.787001   1.0  116.124082  1.0 -1.819011            1.0    0.509215
391   90.600561   1.0  140.628162  1.0 -1.671819            1.0    0.545885

In [22]:
TCSp = TOxG.applymap(lambda x: (1-p)**(x/(100*p)))
TCSp.insert(0,'Teams', Teams['Teams'])
del_empty_col(TCSp)

,Teams,GW1,GW2,GW3,GW4,GW5,GW6,GW7,GW8,GW9,...,GW16,GW17,GW18,GW19,GW19*,GW20,GW21,GW22,GW23,GW24
0,Arsenal,0.663049,0.193278,0.059388,0.478297,0.130882,0.542758,0.317134,0.039377,0.106015,...,0.156555,0.493656,0.236114,0.603065,NaN,0.212503,0.228768,0.270774,0.185302,0.221650
1,Aston Villa,NaN,0.554317,0.159889,0.061944,0.203733,0.032920,0.453752,0.267936,0.345024,...,0.158214,0.062601,NaN,0.007220,0.493656,0.246278,0.038556,0.078103,0.130882,0.035439
2,Brighton,0.205891,0.635686,0.273642,0.143900,0.736721,0.439634,0.387420,0.656100,0.128153,...,0.241143,0.265128,0.054588,0.348678,NaN,0.285421,0.279469,0.251523,0.051786,0.622431
3,Burnley,NaN,0.058150,0.537070,0.231191,0.161583,0.168538,0.119042,0.050175,0.115338,...,0.327319,NaN,0.122864,0.093424,0.028706,0.059388,0.059388,0.091476,0.478297,0.132268
4,Chelsea,0.273642,0.091476,0.330785,0.584301,0.154915,0.210276,0.752410,0.435027,0.435027,...,0.236114,0.094413,NaN,0.297707,0.297707,0.827250,0.768433,0.603065,0.334289,NaN
5,Crystal Palace,0.236114,0.114129,0.217028,0.112933,0.075673,0.185302,0.183360,0.341408,0.226370,...,0.248886,0.310522,0.288444,0.150095,NaN,0.061944,0.320493,0.065987,0.094413,0.128153
6,Everton,0.139423,0.417074,0.231191,0.156555,0.052889,0.223998,0.189248,0.223998,0.170323,...,NaN,0.251523,0.279469,NaN,NaN,0.076475,0.193278,0.097445,0.142392,0.130882
7,Fulham,0.086781,0.212503,0.133669,0.175793,0.285421,0.054588,0.310522,0.146965,0.110578,...,NaN,NaN,0.137962,0.053449,0.150095,0.073319,0.448997,0.189248,0.430467,0.458558
8,Leicester,0.478297,0.150095,0.212503,0.130882,0.228768,0.165024,0.233640,0.458558,0.026947,...,0.684342,0.363687,NaN,0.408377,0.228768,0.327319,0.115338,0.259600,0.254187,0.047101
9,Leeds,0.017312,0.221650,0.146965,0.073319,0.341408,0.197394,0.156555,0.195325,0.421491,...,0.615908,0.068827,NaN,0.330785,NaN,0.150095,0.125481,0.251523,0.345024,0.104903
10,Liverpool,0.356104,0.463415,0.488483,0.059388,0.288444,0.177655,0.444291,0.448997,0.197394,...,0.352372,0.584301,NaN,0.256879,0.417074,0.629024,0.248886,0.181438,0.172127,0.276540
11,Man City,NaN,0.379342,0.273642,0.075673,0.282430,0.554317,0.584301,0.265128,0.554317,...,NaN,0.246278,0.629024,0.698915,0.320493,0.542758,0.691590,0.784798,0.294587,0.453752
12,Man Utd,NaN,0.172127,0.114129,0.037752,0.327319,0.399862,0.537070,0.425956,0.473284,...,0.246278,0.102716,0.330785,0.075673,0.221650,0.367539,0.197394,0.862858,0.288444,0.387420
13,Newcastle,0.110578,0.231191,0.021372,0.246278,0.020927,0.285421,0.124166,0.116559,0.172127,...,0.205891,0.387420,0.065987,0.089568,0.173950,0.238615,0.282430,0.468324,0.107137,NaN
14,Sheffield Utd,0.310522,0.106015,0.148522,0.262349,0.193278,0.082328,0.086781,0.049129,0.085872,...,0.387420,0.267936,0.439634,0.165024,NaN,0.135085,0.135085,0.173950,0.233640,NaN
15,Southampton,0.444291,0.177655,0.270774,0.498885,0.095413,0.367539,0.026947,0.615908,0.065295,...,0.201598,0.090517,NaN,0.128153,NaN,0.241143,0.273642,0.016081,0.387420,0.231191
16,Spurs,0.185302,0.158214,0.404097,0.514906,0.128153,0.276540,0.320493,0.259600,0.028107,...,NaN,0.145425,0.158214,0.154915,NaN,0.115338,0.082328,0.068106,0.584301,0.067392
17,West Brom,0.108272,0.036965,0.048614,0.193278,0.288444,0.444291,0.154915,0.097445,0.055750,...,0.145425,0.033977,NaN,0.065295,0.140900,0.047101,0.197394,0.126810,0.129510,0.124166
18,West Ham,0.150095,0.236114,0.259600,0.478297,0.217028,0.128153,0.214754,0.172127,0.313811,...,0.334289,0.356104,NaN,0.307267,0.525871,0.448997,0.159889,0.294587,0.156555,NaN
19,Wolves,0.259600,0.140900,0.151684,0.334289,0.153291,0.488483,0.156555,0.317134,0.304047,...,0.189248,0.096424,0.379342,0.203733,NaN,0.129510,0.348678,0.208072,0.221650,0.421491